---
import DefaultLayout from './DefaultLayout.astro';
import Header from '@components/layout/Header.astro';
import Footer from '@components/layout/Footer.astro';

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image } = Astro.props;
---

<DefaultLayout
  title={title}
  description={description}
  image={image}
>
  <Header />
  <main id="main-content">
    <slot />
  </main>
  <Footer />
</DefaultLayout>

<style>
  main {
    min-height: calc(100vh - 200px);
  }
</style>

